<div class="dashboard-header">
  <h1 class="page-title">Editar Turma: <%= @turma.name %></h1>
  <p class="page-subtitle">Atualize as informações do grupo.</p>
</div>

<%= render "form", turma: @turma %>
